<div class="container main-container">

    <div class="row text-center">

        <div *ngFor="let product of products" class="col-md-4" style="padding-bottom: 30px;">
            <div class="card h-100">
                <a class="text-decoration-none" [routerLink]="['/produto-detalhe', product.id]">
                    <div style="align-content: center;">
                        <img src="/assets/{{ product.imagem }}" height="164px" width="164px" alt="{{ product.imagem }}" />
                    </div>
                </a>
                <div class="card-body">
                    <h4 class="card-title">{{ product.nome }}</h4>
                    <p>Por apenas:</p>
                    <div><h4>{{ product.valor }}</h4></div>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" [routerLink]="['/carrinho', product.id]">
                        <span class="fa fa-shopping-cart"></span> Comprar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
