<header class="bg-primary py-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-2">
                <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular" />
            </div>
            <div>
                <h1 class="display-4 text-white mt-5 mb-2">SPA com Angular</h1>             
                <div >
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a 
                                class="nav-link lead text-white" 
                                href="https://github.com/youssfbr"
                                target="_blank"
                            >
                                Github
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link lead text-white" 
                                href="mailto:youssfbr@gmail.com"
                                target="_blank"
                            >
                                Email
                            </a>
                        </li>
                        <li class="nav-item">
                            <a 
                                class="nav-link lead text-white" 
                                href="https://github.com/youssfbr/spa-institucional"
                                target="_blank"
                            >
                                Github do projeto
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container main-container">
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img 
                    class="card-img-top" 
                    src="/assets/crossplat.jpg" 
                    height="164px" 
                    width="253px" 
                    alt="Card multiplataforma" 
                />
                <div class="card-body">
                    <h4 class="card-title">Multiplataforma</h4>
                    <p class="card-text">Lorem</p>
                </div>
                <div class="card-footer">
                    <a 
                        class="btn btn-primary" 
                        href="#"
                    >
                        Saiba mais
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img 
                    class="card-img-top" 
                    src="/assets/performance.jpg" 
                    height="164px" 
                    width="253px" 
                    alt="Card performance" 
                />
                <div class="card-body">
                    <h4 class="card-title">Performance</h4>
                    <p class="card-text">Lorem</p>
                </div>
                <div class="card-footer">
                    <a 
                        class="btn btn-primary" 
                        href="#"
                    >
                        Saiba mais
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img 
                    class="card-img-top" 
                    src="/assets/productivity.jpg" 
                    height="164px" 
                    width="253px" 
                    alt="Card produtividade" 
                />
                <div class="card-body">
                    <h4 class="card-title">Produtividade</h4>
                    <p class="card-text">Lorem</p>
                </div>
                <div class="card-footer">
                    <a 
                        class="btn btn-primary" 
                        href="#"
                    >
                        Saiba mais
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img 
                    class="card-img-top" 
                    src="/assets/full_dev.jpg" 
                    height="164px" 
                    width="253px" 
                    alt="Card funcionalidade" 
                />
                <div class="card-body">
                    <h4 class="card-title">Funcionalidades</h4>
                    <p class="card-text">Lorem</p>
                </div>
                <div class="card-footer">
                    <a 
                        class="btn btn-primary" 
                        href="#"
                    >
                        Saiba mais
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>